*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope";
}

body{
  background-color: rgba(245, 245, 245, 1);
}

h1{
  font-size: 60px;
  font-weight: 500;
  font-family: "Russo One";
  text-transform: uppercase;
}
h2{
  font-size: 40px;
  font-weight: 500;
  font-family: "Russo One";
}
h3{
  font-size: 28px;
  font-weight: 500;
  font-family: "Russo One";
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

button{
  cursor: pointer;
  border: none;
}

.wraperPublic{
  max-width: 1920px;
  width: 90%;
  margin: 0 auto;
}