.catalog{
    padding: 60px 0;
}
.catalog__content{
    margin-top: 60px;
    margin-bottom: 98px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.catalog-card{
    flex: 1 0 400px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.catalog-card img{
    opacity: 0.85;
    max-height: 320px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.catalog-card h3{
    padding: 20px 10px;
    transition: padding 0.5s ease;
}

.catalog-card:hover h3{
    padding: 20px 20px;
}
.catalog-card:hover img{
    opacity: 1;
}

@media(max-width: 600px){    
    .catalog-card{
        flex: 1 0 240px;
        text-align: center;
    }
    .catalog-card h3{
        padding: 14px 10px;
    }    
    .catalog-card:hover h3{
        padding: 14px 14px;
    }
}