.product{
    padding: 60px 0;
}

.product__content{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.product h2{
    margin-bottom: 30px;
}
.product a{
    font-size: 20px;
    font-weight: 500;
}