.tabs-slider-section {
    padding: 80px 0;
}
.slider-tabs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.tab-button {
    font-family: "Russo One";
    font-weight: 500;
    background: none;
    color: rgba(217, 217, 217, 1);
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 42px;
    text-transform: uppercase;
}
.tab-button:hover {
    color: rgb(122, 122, 122);
}
.tab-button.active {
  color: rgba(0, 0, 0, 1);
}

.swiper-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}
.container{
    display: flex;
}

.slide-content {
    display: flex;
    flex-direction: column;
}
.slide-img {
    display: flex;
    justify-content: center;
}

.slide-img img {
    max-height: 533.97px;
}

.slide-text {
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}
.slide-text p {
    margin: 12px auto 0;
    font-size: 20px;
    max-width: 630px;
    color: #686868;
}

@media(max-width: 1590px){
    .swiper-container {
        max-width: 600px;
        padding: 0;
    }
    .slide-text {
        padding: 8px 12px;
    }
    .slide-text p {
        margin: 4px auto 0;
        font-size: 18px;
    }
    .tab-button {
        font-size: 32px;
    }
}
@media(max-width: 1050px){
    .container {
        display: block;
    }
    .slider-tabs {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
    .tab-button {
        font-size: 18px;
    }
    .swiper-container {
        max-width: 1050px;
        width: 80%;
        padding: 0;
    }

    .slide-text h3 {
        font-size: 22px;
    }
    .slide-text p {
        font-size: 16px;
    }
}
@media(max-width: 774px){
    .slide-img { 
        max-height: 500px;
    }
    .slide-img img {
        width: 100%;
    }
    .swiper-container {
        max-width: 450px;
        width: 100%;
        padding: 0;
    }
}